@font-face {
	font-family: "font_titles";
	src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}
@font-face {
	font-family: "font_titles";
	font-style: italic;
	src: url('../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf');
}
@font-face {
	font-family: "font_titles";
	font-weight: bold;
	src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf');
}

@font-face {
	font-family: "font_texts";
	src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

body {

}

h1 {
    font-family: font_titles;
    color: #626262;
    margin: 20px 0 30px 0;
    font-size: 1.8em;
}

h2 {
    font-family: font_titles;
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 1.2em;
}

h3 {
    font-family: font_titles;
    text-transform: none;
    color: #626262;
    margin: 20px 0 30px 0;
    font-size: 1.2em;
}

p {
    font-family: font_texts;
    color: #626262;
    text-align: justify;
    font-size: 0.8em;
}

a {
    text-transform: uppercase;
    color: #aba99d;
}

/* ACCUEIL */
.menu li a {
    color: #252525;
}

.img-logo {
    margin-left: 15px;
}

.top-bar-left, .top-bar-right {
    margin-top: 40px;
}

.top-bar-right {
    float: right;
    display: inline-block;
    margin-top: -30px;
}

.clear-both {
    clear: both;
}

.img-top {
    width: 100%;
    margin-bottom: 100px;
}

.img-demi {
    margin-bottom: 30px;
    margin-top: 135px;
    width: 100%;
}

.tiny-article-link-category {
    display: block;
}

.block-newsletter {
    margin-top: 120px;
    background-color: #F0F0F0;
}

.centred {
    text-align: center;
}

.newsletter-title {
    font-size: 2em;
    color: black;
    margin-top: 75px;
    margin-bottom: 70px;
}

.input-newsletter {
    width: 400px;
    margin: auto;
    margin-bottom: 75px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    box-shadow: none;
}

.btn-submit-newEmail {
    background: none;
    border: none;
    float: right;
    margin-top: -110px;
    margin-right: 10px;
    font-size: 30px;
}

.button-load {
    padding: 22px 33px;
    border: 1px solid #646464;
    color: #646464;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 140px;
    background: none;
}

.block-footer {
    background-color: #F0F0F0;
    padding: 40px 0;
}

.footer-links {
    color: black;
    text-transform: none;
}

.float-right {
    margin-top: -30px;
}

.fab {
    padding-left: 10px;
}

/* PAGE */
.img-page {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.italic {
    font-style: italic;
}

.caps {
    text-transform: uppercase;
}

.share {
    margin-top: 60px;
    margin-bottom: 75px;
    color: #aba99d;
    text-align: right;
}

.share_me {
    color: #aba99d;
}

.see-more {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #F0F0F0;
    margin-bottom: 20px;
}

.see-more-title {
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #aba99d;
}

.comments {
    padding-top: 40px;
    padding-bottom: 70px;
}

.comment-img {
    border-radius: 50%;
}

.comments-date {
    font-weight: normal;
    color: #aba99d;
}

.name-bold {
    font-weight: bold;
}

.comment-reply {
    display: block;
    margin-bottom: 50px;
}

.comment-input {
    border-radius: 5px;
    padding: 15px 20px;
    height: 70px;
}

.top-post {
    display: block;
    margin-top: 75px;
}

.side-block-title {
    margin-bottom: 10px;
}

.side-block-nb-comment {
    text-transform: uppercase;
    color: #aba99d;
    font-size: 0.8em;
}

.article-pub {
    margin-top: 35px;
    margin-bottom: 35px;
}

.see-more-link {
    text-transform: none;
}

.footer-float-right {
    float: right;
    padding: .7rem 1rem;
    margin-top: -40px;
}

.category {
    margin-top: 75px;
}