@font-face {
	font-family: "font_titles";
	src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}
@font-face {
	font-family: "font_titles";
	font-style: italic;
	src: url('../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf');
}
@font-face {
	font-family: "font_titles";
	font-weight: bold;
	src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf');
}

@font-face {
	font-family: "font_texts";
	src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

body {

}

h1, a h1 {
    font-family: font_titles;
    text-transform: none;
    color: #626262;
    margin: 20px 0 30px 0;
    font-size: 1.8em;
}

h2 {
    font-family: font_titles;
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 1.2em;
}

h3 {
    font-family: font_titles;
    text-transform: none;
    color: #626262;
    margin: 20px 0 30px 0;
    font-size: 1.2em;
}

p {
    font-family: font_texts;
    color: #626262;
    text-align: justify;
    font-size: 0.8em;
}

a {
    text-transform: uppercase;
    color: #aba99d;
}

[type=text], [type=date], [type=password], textarea {
    border-radius: 5px;
}

.div-connexion-top {
    padding: 5px 0;
    background: #F0F0F0;
    box-shadow: 3px 0 4px rgba(0, 0, 0, .4);
    margin-bottom: 0;
}

.connexion .top-bar {
    margin: 0;
    padding: 0;
}

.connexion p {
    margin: 0;
}

.link-lowercase {
    text-transform: none;
}

.h1-admin-liens {
    font-family: font_texts;
    font-size: 16px;
}
.h1-admin-liens2 {
    display: block;
    margin-top: -20px;
    font-family: font_texts;
    font-size: 16px;
}

.fa-power-off {
    margin-right: 10px;
}

/* ACCUEIL */
.site-bar .menu-top {
    margin-top: 30px;
    margin-bottom: 10px;
}

.menu li a {
    color: #252525;
}

.img-logo {
    margin-left: 15px;
}

.top-bar, .top-bar ul {
    background: none;
}

.site-bar .top-bar {
    padding: .5rem 0;
}

.clear-both {
    clear: both;
}

.img-top {
    width: 100%;
    margin-bottom: 100px;
}

.img-demi {
    margin-bottom: 30px;
    margin-top: 135px;
    width: 100%;
}

.tiny-article-link-category {
    display: block;
}

.block-newsletter {
    margin-top: 120px;
    background-color: #F0F0F0;
}

.centred {
    text-align: center;
}

.newsletter-title {
    font-size: 2em;
    color: black;
    margin-top: 75px;
    margin-bottom: 70px;
}

.input-newsletter {
    width: 400px;
    margin: auto;
    margin-bottom: 75px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    box-shadow: none;
}

.btn-submit-newEmail {
    background: none;
    border: none;
    float: right;
    margin-top: -110px;
    margin-right: 10px;
    font-size: 30px;
}

.button-load {
    padding: 22px 33px;
    border: 1px solid #646464;
    color: #646464;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 140px;
    background: none;
}

.block-footer {
    background-color: #F0F0F0;
    padding: 40px 0;
}

.footer-links {
    color: black;
    text-transform: none;
}

.float-right {
    margin-top: -30px;
}

.fab {
    padding-left: 10px;
}

/* PAGE */
.img-page {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.italic {
    font-style: italic;
}

.caps {
    text-transform: uppercase;
}

.share {
    margin-top: 60px;
    margin-bottom: 75px;
    color: #aba99d;
    text-align: right;
}

.share_me {
    color: #aba99d;
}

.see-more {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #F0F0F0;
    margin-bottom: 20px;
}

.see-more-title {
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #aba99d;
}

.comments {
    padding-top: 40px;
    padding-bottom: 30px;
}

.comments-form {
    padding-top: 0px;
    padding-bottom: 70px;
}

.comment-img {
    border-radius: 50%;
}

.comments-date {
    font-weight: normal;
    color: #aba99d;
}

.name-bold {
    font-weight: bold;
}

.comment-reply {
    display: block;
    margin-bottom: 50px;
}

.comment-textarea {
    border-radius: 5px;
    padding: 15px 20px;
    height: 70px;
    box-shadow: none;
}

.comment-input {
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 15px 20px;
    width: 49.5%;
    box-sizing: border-box;
}

.comment-input:focus {
    outline: 0;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    -webkit-box-shadow: 0 0 5px #cacaca;
    box-shadow: 0 0 5px #cacaca;
    -webkit-transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
    transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s;
}

.comment-btn-submit, .btn-formContact {
    border-radius: 5px;
    border:1px solid #cccccc;
    padding: 10px 25px;
    background: #eeeeee;
    text-align: center;
    cursor: pointer;
}

.top-post {
    display: block;
    margin-top: 75px;
}

.side-block-title {
    margin-bottom: 10px;
}

.side-block-nb-comment {
    text-transform: uppercase;
    color: #aba99d;
    font-size: 0.8em;
}

.article-pub {
    margin-top: 35px;
    margin-bottom: 35px;
}

.see-more-link {
    text-transform: none;
}

.footer-nav-left {
    order: 1;
}

.footer-nav-right {
    margin-right: 1rem;
    order: 2;
}

.footer-nav-left, .footer-nav-right {
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: .625rem;
    padding-left: .625rem;
}

.category-container {
    margin-bottom: 75px;
}

.category {
    margin-top: 75px;
    margin-bottom: -50px;
}

.div-formContact {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.contact, .erreur-new-contact {
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
}

.contact-textarea {
    border-radius: 5px;
    padding: 15px 20px;
    height: 70px;
    box-shadow: none;
}

.contact-input {
    display: inline;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 15px 20px;
    width: 49.5%;
    box-sizing: border-box;
}

.erreur-p-centered {
    text-align: center;
}

.articles-tous-affiches {
    color: #ddd;
}

/* RESPONSIVE */
@media print, screen and (max-width: 640px) {
    .comment-input {
        width: 100%;
    }

    .contact-input {
        width: 100%;
    }
}

/* ADMIN */
.tab-connexion {
    margin: auto;
    width: 100%;
    max-width: 600px;
}
.centered {
    text-align: center;
}
.btn-connexion {
    padding: 10px 25px;
    border-radius: 5px;
    background: #eeeeee;
    border: 1px solid #cccccc;
}

.link-deconnexion {
    margin-left: 15px;
}

.admin-subtitle {
    padding-left: 50px;
}

.td-modifier, .td-supprimer {
    text-align: center;
}
.td-modifier i {
    color: black;
}
.td-supprimer i {
    color: red;
    cursor: pointer;
}

.btn-insert-submit, .btn-modify-submit {
    padding: 10px 25px;
    border-radius: 5px;
    background: #eeeeee;
    border: 1px solid #cccccc;
}

.input-demi-largeur {
    display: inline;
    width: 49.75%;
}

.textarea-hauteur {
    height: 100px;
}

.connexion-div {
    margin-top: 45px;
    margin-bottom: 60px;
}

.div-connexion {
    margin: auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    text-align: center;
    background: #F0F0F0;
}